/* css and layout for header */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.header {
  font-family: 'Montserrat', cursive;
  overflow: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: none;
}

.header a {
  float: left;
  color: #1B7466;
  text-align: center;
  padding: 0.6rem;
  text-decoration: none;
  font-size: 1.5rem; 
  transition: .4s;
}

.header a.logo {
  font-size: 1.3rem;
  background: linear-gradient(270deg, #1889A0, #b71ad4, #ea4111);
  background-size: 600% 600%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbowGradient 7s ease infinite;
  animation: rainbowGradient 7s ease infinite;
}

@-webkit-keyframes rainbowGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes rainbowGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.header a:hover {
  color: #0a2925;
}

.header-right {
  float: right;
}