html {
  height: 100%;
}

body {
  background-color: #FBE6D0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

}

#root {
  max-width: 750px;
  min-height: 100vh;
  width: 90%;

  display: flex;
  flex-direction: column;
  margin: auto;
}

.switch-wrapper {
  position: relative;
  flex: auto;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.switch-wrapper > div {
  position: relative;
}

.content {
  font-family: 'Montserrat', sans-serif;
  color: black;
  width: 100%;
  margin: auto;
}

.icons {
  padding-top: 2rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.icons a {
  color: #1B7466;
  transition: .4s;
  padding-right: 0.5rem;
}

.icons a:hover {
  color: #0a2925;
}

#embed {
  width: 100%;
}